<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container" style="margin-left: 0%;margin-right: 0%;width: 100%;">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/freidae/" style="padding:8px;"><img id="top_nav_appstr" src="/freidae/data/img/navbar_t/App_store_badge.png" alt="App store"></a>
        </div>
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="/freidae/" style="padding:8px;"><img id="top_nav_logo" src="/freidae/data/img/navbar_t/Logo+font.png" alt="Freidae"></a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav" id="top_nav_ul">
                <li><a id="home" href="/freidae/#home">Home</a></li>
                <li><a id="prdct" href="/freidae/products/#prdct">Products</a></li>
                <li><a id="prcng" href="/freidae/pricing/#prcng">Pricing</a></li>
                <li><a id="rchus" href="/freidae/reach_us/#rchus">Reach Us</a></li>
            </ul>            
        </div>
    </div>
</nav>