<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="/freidae/" style="padding:8px;">FREIDAE</a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav" id="top_nav_ul">
                <li><a href="/freidae/">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="/freidae/reach_us/">Reach Us</a></li>
            </ul>            
        </div>
    </div>
</nav>