<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container" id="base_nav_div">
	<div class="navbar-header">
      
          <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNavbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	</div>
          <div class="navbar-collapse collapse" id="myNavbar1"> 
      <ul class="nav navbar-nav" id="base_nav_ul">
          <li><a href="/data/about/contact_us/">About Us</a></li>
          <li><a href="/data/about/contact_us/">Associates</a></li>
          <li><a href="/data/about/contact_us/">Latest</a></li>
          <li><a href="/data/about/contact_us/">Privacy</a></li>
          <li><a href="/data/about/contact_us/">Showcase</a></li>

      </ul>
    </div>
  </div>
</nav>