@font-face{ 
    font-family: 'Aller_Light'; 
    src: url('/freidae/data/fonts/aller_light/aller_light.eot'); 
    src: url('/freidae/data/fonts/aller_light/aller_light.eot?#iefix') 
    format('embedded-opentype'), url('/freidae/data/fonts/aller_light/aller_light.svg#Aller Light') 
    format('svg'), 
    url('/freidae/data/fonts/aller_light/aller_light.woff') 
    format('woff'), 
    url('/freidae/data/fonts/aller_light/aller_light.ttf') 
    format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}
body{
    font: 14px 'Aller_Light';
    color:#000000;
    background: url(/freidae/data/backgrounds/BackgroundImage1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-origin: border-box;
    background-position: center center;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.45);
    border: 0px;
}
.navbar li {
    color: black; 
    padding-left: 1%;
    padding-right: 2%;
    height: 60px;
} 
#top_nav_ul{
    margin-left: 3%;
    margin-right: 2%;
    width: 51%;
    padding-left: 2%;
    padding-right: 2%;
}
#top_nav_logo{
    margin-top: -2%;
    width: 97px;
}
#base_nav_div{
    margin-left: 0%;
}
#top_nav_appstr{
    width: 128px;
    height: 42px;
}
#base_nav_ul{
    padding-left: 0%;
    width: 97%;
}
#home_iphone{
    margin-top: -20%;
    height: 614px;
    width: 87%;
    min-width: 303px;
}
#home_iphone_logo{
    position: absolute;
    left: 6%;
    top: 12%;
}
#form_reach_us{
    margin-top: 4%;
}
.form-group{
    margin-bottom: 5px;
    min-width: 304px;
    width: 36%;
    margin-left: auto;
    margin-right: auto;
}
#inputEmail,#inputSubject,#content,#sel1{
    text-align: center;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.7);
}
#inputEmail,#inputSubject{
    height: 56px;
}
option{
    text-indent: 5px; 
}
